@model IEnumerable<DobleCiego.Models.T_Titulos>

@{
    ViewBag.Title = "Index";
}

<h2>Convocatorias Abiertas</h2>

<br /><br />
      <div class="container">
          <div class="row">
              @foreach (var item in Model)
              {
                  <div class="col-lg-4 d-flex align-items-stretch">
                      <div class="card" >
                          <div class="card-body">
                              <img src="@item.ImagenRef" class="card-img-top" alt="" height=200 width=100>
                              <div class="card-body">
                                  <h5 class="card-title fw-bolder">@item.Titulo</h5>
                                  <p class="card-text">@item.Propuesta</p>
                                  @Html.ActionLink("Descargar Doc", "download", new { id = item.IdTitulo }, new { @class = "btn btn-primary btn-cons" })
                                  @Html.ActionLink("Enviar Escrito", "addEscrito", new { id = item.IdTitulo }, new { @class = "btn btn-success btn-cons" })

                              </div>
                          </div>
                          <div class="card-footer text-muted">
                              @item.CreationDate.ToString("dd-MM-yyyy")
                          </div>
                      </div>
                  </div>

              }
          </div>
      </div>
